<h1>Add a New Student</h1>
<%= form_tag '/security/savestudent' do %>
<p><input type="text" name="firstname"/> First Name</p>
<p><input type="text" name="lastname"/> Last Name</p>
<p><input type="submit" value="Save"/></p>
<% end %>
