<p><b>First Name:</b><br/><%= @student.firstname %></p>
<p><b>Last Name:</b><br/><%= @student.lastname %></p>
<p><b>Student ID:</b><br/><%= @student.studentid %></p>
<p><a href="/security/editstudent?studentid=<%= @student.studentid %>">Edit</a></p>
<p><a href="/security/viewallstudents">View All Students</a></p>
