<% results = Student.all_students %>
<table>
<tr><th>Last Name</th><th>First Name</th><th>Student ID</th></tr>
<% results.each do |student| %>
<tr>
<td><%= student.lastname %></td>
<td><%= student.firstname %></td>
<td>
<a href="viewasinglestudent?studentid=<%= student.studentid %>">
<%= student.studentid %>
</a>
</td>
</tr>
<% end %>
</table>
<p>
<form action="/security/addstudent" method="get">
<input type="Submit" value="Add Student"/>
</form>
</p>
