<form action="add" method="get">
<h2>Addition</h2>
<p>Enter a number<input type="text" name="input1"/></p>
<p>Enter another number<input type="text" name="input2"/></p>
<p><input type="submit"/></p>
</form>

<form action="subtract" method="get">
<h2>Subtraction</h2>
<p>Enter a number<input type="text" name="input1"/></p>
<p>Enter another number<input type="text" name="input2"/></p>
<p><input type="submit"/></p>
</form>

<form action="multiply" method="get">
<h2>Multiplication</h2>
<p>Enter a number<input type="text" name="input1"/></p>
<p>Enter another number<input type="text" name="input2"/></p>
<p><input type="submit"/></p>
</form>

<form action="divide" method="get">
<h2>Division</h2>
<p>Enter a number<input type="text" name="input1"/></p>
<p>Enter another number<input type="text" name="input2"/></p>
<p><input type="submit"/></p>
</form>


